*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.title{
    text-align: center;
    padding-top: 50px;
}

.container{
    height:300px;
    width:900px;
    background-color: aqua;
    margin:0 auto;
    margin-top:75px;
    padding-top:25px;
    border-radius: 50px;
    border: 5px solid black;
    padding-left: 40px;
    padding-bottom:75px;
}

.align{
    text-align: center;
}

.container2{
    height:300px;
    width:900px;
    background-color: aqua;
    margin:0 auto;
    margin-top:50px;
    padding-top:25px;
    border-radius: 50px;
    border: 5px solid black;
    padding-left: 40px;
    padding-bottom:50px;
}

.container3{
    height:250px;
    width:900px;
    background-color: aqua;
    margin:0 auto;
    margin-top:50px;
    padding-top:25px;
    border-radius: 50px;
    border: 5px solid black;
    padding-left: 40px;
    padding-bottom:65px;
}

#subt{
    margin-top:50px;
    margin-left:50%;
    padding:10px;
    font-size: 15px;
    background-color: lime;
}
